<div class="row mb-2">
  <main>
  <table>
  <tr>
    <th> Sr.No </th>
    <th> Name </th>
    <th> Landline ( Office ) </th>
    <th> Mobile </th>
    <th> Details </th>
  </tr>
  <% faculties.each do |faculty| %>
  <tr>
    <td> <%= faculty.id %> </td>
    <td> <%= faculty.name %> </td>
    <td> <%= faculty.landline_office %> </td>
    <td> <%= faculty.mobile1 %> </td>
    <td> <%= faculty.mobile2 %></td>
  </tr>
  <% end %>

</div>
