<div id="<%= dom_id faculty %>">
  <p>
    <strong>Name:</strong>
    <%= faculty.name %>
  </p>

  <p>
    <strong>Phoneno:</strong>
    <%= faculty.phoneno %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= faculty.email %>
  </p>

  <p>
    <strong>Telephone:</strong>
    <%= faculty.telephone %>
  </p>

  <p>
    <strong>Site name:</strong>
    <%= faculty.site_name %>
  </p>

  <p>
    <strong>Joining date:</strong>
    <%= faculty.joining_date %>
  </p>

</div>
