<style media="screen">
  .department-heading {
    background-color: #f8f9fa;
    border: 1px solid #d1d1d1;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    text-align: center;
  }

  .department-title {
    font-size: 24px;
    color: black;
  }

  .firstend{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    
  }

  .lastend{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  
  .table th,
  .table td {
    text-align: center;
    vertical-align: middle;
  }

  .table th {
    background-color: #192f59;
    color: #fff;
  }

  .table tbody tr:nth-child(odd) {
    background-color: #eee;
  }

  .modal-body dl dd {
    word-wrap: break-word; /* Add this style for word wrapping */
  }
</style>
<div class="container-fluid">
  <table class="table">
    <thead>
      <tr>
        <th class="firstend"> Sl. No. </th>
        <th> Name </th>
        <th> Designation </th>
        <th> Landline (Off.) </th>
        <th class="lastend"> Details </th>
      </tr>
    </thead>
    <tbody>
      <% @departments.each do |department| %>
        <% faculties_for_department = @faculties_by_department[department.name] %>
        <% if faculties_for_department.present? %>
          <tr>
            <td colspan="5" class="department-heading">
              <div class="department-title"><%= department.name %></div>
            </td>
          </tr>
          <% faculties_for_department.each_with_index do |faculty, index| %>
            <tr>
              <td> <%= index + 1 %> </td>
              <td> <%= faculty.name %> </td>
              
              <td> <%= faculty.designation.title %> </td>
              <td> <%= faculty.landline_office %> </td>
              <td>
                <!-- Button to trigger Bootstrap modal -->
                <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#facultyModal<%= faculty.id %>">
                  Click here
                </button>

               
              


            <div class="modal fade" id="facultyModal<%= faculty.id %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Details</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <div class="container">
                      <div class="row">
                        <div class="col-md-6">
                          <!-- Left column with image -->
                          <dl class="row">
                            <dt class="col-sm-6 text-start">Name</dt>
                            <dd class="col-sm-6 text-start"><%= faculty.name %></dd>

                            <dt class="col-sm-6 text-start">Designation</dt>
                            <dd class="col-sm-6 text-start"><%= faculty.designation.title %></dd>

                            <dt class="col-sm-6 text-start">Unit</dt>
                            <dd class="col-sm-6 text-start"><%= faculty.department.name %></dd>

                            <dt class="col-sm-6 text-start">Position-1</dt>
                            <dd class="col-sm-6 text-start"><%= faculty.position1&.title || '-' %></dd>

                            <dt class="col-sm-6 text-start">Position-2</dt>
                            <dd class="col-sm-6 text-start"><%= faculty.position2&.title || '-' %></dd>

                            <dt class="col-sm-6 text-start">Landline (Off.)</dt>
                            <dd class="col-sm-6 text-start"><%= faculty.landline_office || '-' %></dd>

                            <dt class="col-sm-6 text-start">Landline (Res.)</dt>
                            <dd class="col-sm-6 text-start"><%= faculty.landline_residential || '-' %></dd>

                            <dt class="col-sm-6 text-start">Mobile-1</dt>
                            <dd class="col-sm-6 text-start"><%= faculty.mobile1 || '-' %></dd>

                            <dt class="col-sm-6 text-start">Mobile-2</dt>
                            <dd class="col-sm-6 text-start"><%= faculty.mobile2 || '-' %></dd>

                            <dt class="col-sm-6 text-start">Email</dt>
                            <dd class="col-sm-6 text-start"><%= faculty.email || '-' %></dd>

                            <dt class="col-sm-6 text-start">Personal Webpage</dt>
                            <dd class="col-sm-6 text-start overflow-visible">
                              <% if faculty.site_name.present? %>
                              <a href="<%= faculty.site_name %>" target="_blank">Click Here</a>
                              <% else %>-
                              <% end %>
                            </dd>

                            <dt class="col-sm-6 text-start">Last Updated</dt>
                            <dd class="col-sm-6 text-start"><%= faculty.updated_at.strftime('%B %d, %Y %I:%M %p') %></dd>
                          </dl>
                        </div>
                        <div class="col-md-6 d-flex align-items-center justify-content-center">
                          <!-- Right column with details -->
                          <% if faculty.profile.present? %>
                           <%= image_tag faculty.profile, class: "img-fluid", style:"max-width: 80%; height: auto;" %>
                          <% else %>
                            <%= image_tag 'user.png', style: "max-width: 60%; max-height: 60%;"  %>
                          <% end %>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <!-- Close button for the modal -->
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
              </td>
            </tr>
          <% end %>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
