<style>
  .filterrific-form select,
  .filterrific-form input[type="text"] {
    text-decoration: none !important;
    border: 1px solid transparent;
    padding: 5px;
  }

  .filterrific-form select::-ms-expand {
    display: none;
  }

  #advanced-search-btn {
    background-color: #198754; /* Green color */
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top :8%;
    margin-bottom: 10px;
    cursor: pointer;
  }
</style>

<%= form_for_filterrific @filterrific, { class: 'filterrific-form', id: 'submission' } do |f| %>
  <div class="row g-3">
    <!-- Name Field -->
    <div class="col-md-4 col-sm-12">
      <%= f.label :search_query, "Name", class: "form-label", style: "color:white;" %>
      <%= f.text_field :search_query, class: "form-control", id: "filterrific_submit_button"  %>
    </div>

    <!-- Search Button -->
    <div class="col-md-1 mt-5 col-sm-12" >
      <%= f.submit "Search", class: "btn btn-success" %>
    </div>

    <!-- Advanced Search Button -->
    <div class="col-md-7 mt-5 col-sm-12">
      <button type="button" id="advanced-search-btn" class="btn btn-success" style="padding: 6px 12px; margin: 0;">Advanced Search</button>
    </div>

    <!-- Advanced Search Fields -->
    <div class="col-md-4 col-sm-6" id="filterrific_with_department_id" >
      <%= f.label :with_department_id_advanced, "Search By Department", class: "form-label", style: "color:white;" %>
      <%= f.select :with_department_id_advanced, [['All Branches', nil]] + @filterrific.select_options[:with_department_id], { style: 'text-decoration: none;' }, class: "form-select" %>
    </div>

    <div class="col-md-4 col-sm-6" id="filterrific_search_designation" >
      <%= f.label :search_designation_advanced, "Search By Designation", class: "form-label", style: "color:white;" %>
      <%= f.text_field :search_designation_advanced, class: "form-control" %>
    </div>

    <div class="col-md-4 col-sm-6" id="filterrific_sub_directory_id" >
      <%= f.label :sub_directory_id_advanced, "Search By Sub-Department", class: "form-label", style: "color:white;" %>
      <%= f.select :sub_directory_id_advanced, [['All Sub-Departments', nil]] + @filterrific.select_options[:sub_directory_id], { style: 'text-decoration: none;' }, class: "form-select" %>
    </div>

  </div>
<% end %>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    // Add a click event listener to the Advanced Search button
    document.getElementById('advanced-search-btn').addEventListener('click', function () {
      // Toggle the visibility of the Advanced Search Fields
      toggleVisibility('filterrific_with_department_id');
      toggleVisibility('filterrific_search_designation');
      toggleVisibility('filterrific_sub_directory_id');
    });
  });

  // Function to toggle the visibility of an element
  function toggleVisibility(elementId) {
    var element = document.getElementById(elementId);
    if (element.style.display === 'none') {
      element.style.display = 'block';
    } else {
      element.style.display = 'none';
    }
  }
</script>
