<style>
  .filterrific-form select {
    text-decoration: none !important;
  }

  .filterrific-form select::-ms-expand {
    display: none;
  }
</style>
<%= form_for_filterrific @filterrific, { class: 'filterrific-form', id: 'submission' } do |f| %>
  <div class="row g-3">
    <div class="col-md-4">
      <%= f.label :search_query, "Name", class: "form-label" ,style:"color:white;" %>
      <%= f.text_field :search_query, class: "form-control" %>
    </div>

    <div class="col-md-4">
      <%= f.label :search_designation, "Designation contains", class: "form-label", style: "color:white;" %>
      <%= f.text_field :search_designation, class: "form-control" %>
    </div>

    <div class="col-md-4">
      <%= f.label :with_department_id, "Department", class: "form-label" ,style:"color:white;"%>
      <%= f.select :with_department_id, [['All Branches', nil]] + @filterrific.select_options[:with_department_id], { style: 'text-decoration: none;' }, class: "form-select" %>
    </div>

    <div class="col-12 mt-3">
      <%= f.submit "Search", class: "btn btn-success" %><%= link_to 'LogOut',destroy_user_session_path,method: :delete, class:"btn btn-danger", id:"log-out" %>
    </div>

  </div>
<% end %>
