<%= stylesheet_link_tag 'index' %>
<div class="main-container">
  <div class="nitk-header">
    <div class="container">
      <header class="d-flex justify-content-center py-3">
        <div class="nav-item"><a href="https://www.nitk.ac.in/" class="nav-link active" aria-current="page"><%= image_tag 'header.png' %></a></div>
      </header>
    </div>
  </div>
  <header class="d-flex justify-content-center py-3">
    <div class="telephone-header">
      TELEPHONE DIRECTORY
    </div>
    <div class="overlay">
        <div class="overlay-home">
          <%= link_to 'Home', 'javascript:void(0);', class: "nav-link px-2 text-body-secondary home-link", onclick: "resetFilters1();" %>
        </div>
        <div class="overlay-contact">
          <%= link_to 'Contact Us', home_team_path, class: "nav-link px-2 text-body-secondary home-link" %>
        </div>
        <% if current_user.present? && current_user.super_admin? %>
        <div class="overlay-home">
          <%= link_to "Print", faculties_print_path(format: :pdf, user_id: current_user.id), class: "btn" %>
        </div>
        <% elsif current_user.present? && current_user.admin? %>
        <div class="overlay-home">
          <%= link_to "Print", faculties_print_path(format: :pdf, user_id: current_user.id), class: "btn" %>
        </div>
        <% end %>
    </div>
  </header>
</div>


  <div class="contents">
    <div class="contents-list">
      <% sorted_units = Unit.order(:custom_order, :name) %>
      <% sorted_units.each do |unit| %>
        <div class="accordion">
          <label class="accordion-label" tabindex="0"><%= unit.title %></label>
          <div class="accordion-content">
            <% sorted_departments = unit.departments.order(:custom_order, :name) %>
            <% sorted_departments.each do |department| %>
             <% if department.sub_directories.present? %>
              <p class="department-with-subdirectory"  data-unit="<%= unit.id %>" data-department="<%= department.id %>">
                  <div class="department-with-subdirectory subdirectory-option">
                     <%= department.name %>
                    <ul class="subdirectory-dropdown dropdown-options tree" style="display: none;">
                      <% department.sub_directories.each do |subdirectory| %>
                        <li class="dropdown-option subdirectory-option" data-subdirectory="<%= subdirectory.id %>"  data-unit="<%= unit.id %>" data-department="<%= department.id %>">
                        <%= subdirectory.title %>
                        </li>
                      <% end %>
                    </ul>
                  </div>
              </p>
            <% else %>
              <p class="dropdown-option subdirectory-option"  data-subdirectory="0" data-unit="<%= unit.id %>" data-department="<%= department.id %>"><%= department.name %></p>
            <% end %>
          <% end %>
          </div>
        </div>
      <% end %>
    </div>
    <div class="search-area">
      <div class="search-header">
        <div class="rounded text-body-emphasis" style="width:100%; height:70px !important; background-color:#192f59;">
          <p class="lead mb-0" style="color:white;"><a href="#" class="text-body-emphasis fw-bold"><%= render 'filter_form' %></a></p>
        </div>
      </div>
      <div class="search-data">
        <%= render 'faculty_list', faculties: @faculties %>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  document.addEventListener("DOMContentLoaded", function () {
    const accordions = document.querySelectorAll(".accordion");
    accordions.forEach((accordion) => {
      const label = accordion.querySelector(".accordion-label");
      label.addEventListener("click", function () {
        // Close all other accordions before opening the clicked one
        accordions.forEach((otherAccordion) => {
          if (otherAccordion !== accordion) {
            otherAccordion.classList.remove("open");
          }
        });
        accordion.classList.toggle("open");
      });
    });

    const departmentContainers = document.querySelectorAll(".department-with-subdirectory");
    departmentContainers.forEach((container) => {
      container.addEventListener("click", function () {
        const clickedDropdown = container.querySelector(".subdirectory-dropdown");
        const allDropdowns = document.querySelectorAll(".subdirectory-dropdown");

        // Close all other subdirectories except the clicked one
        allDropdowns.forEach((otherDropdown) => {
          if (otherDropdown !== clickedDropdown) {
            otherDropdown.style.display = "none";
          }
        });

        // Toggle the clicked subdirectory
        clickedDropdown.style.display = clickedDropdown.style.display === "none" ? "block" : "none";

        // Perform filtering when opening the department

      });
    });

    const departmentFilters = document.querySelectorAll(".dropdown-option");

    departmentFilters.forEach((filter) => {
      filter.addEventListener("click", function () {
        const unitId = this.dataset.unit;
        const departmentId = this.dataset.department;
        const subDirectoryId = this.dataset.subdirectory;
        console.log(subDirectoryId)
        if (subDirectoryId == 0) {
          updateFilterAndHandleClick(unitId, departmentId);
        } else {
          updateFilterAndHandleClick1(unitId, departmentId, subDirectoryId);
        }
      });
    });

    // Check if a filter is already present and open the dropdown accordingly
    const filterForm = document.getElementById("filterrific_filter");
    const isFilterApplied = filterForm && filterForm.querySelector("#filterrific_with_department_id_advanced").value !== "";

    if (isFilterApplied) {
      const activeDropdown = document.querySelector(".subdirectory-dropdown[style='block']");
      if (activeDropdown) {
        activeDropdown.style.display = "block";
      }
    }

    function updateFilterAndHandleClick(unitId, departmentId) {
      // Update the filter form with the selected unit and department
      const filterForm = document.getElementById("filterrific_filter");

      if (!filterForm) {
        console.error("Filter form not found.");
        return;
      }

      document.getElementById("filterrific_with_department_id_advanced").value = departmentId;
      document.getElementById("filterrific_sub_directory_id_advanced").value = 0;
      // Optionally, perform other actions based on the selected unit and department
      // For example, you can show/hide content, make AJAX requests, etc.

      // Trigger a click event on the submit button to submit the form
      filterForm.submit();
    }

    function updateFilterAndHandleClick1(unitId, departmentId, subDirectoryId) {
      // Update the filter form with the selected unit and department
      const filterForm = document.getElementById("filterrific_filter");

      if (!filterForm) {
        console.error("Filter form not found.");
        return;
      }

      document.getElementById("filterrific_with_department_id_advanced").value = departmentId;
      document.getElementById("filterrific_sub_directory_id_advanced").value = subDirectoryId;

      // Trigger a click event on the submit button to submit the form
      filterForm.submit();
    }
  });
  function resetFilters1() {
  // Update the filter form with default values or clear the form fields
  const filterForm = document.getElementById("filterrific_filter");

  if (!filterForm) {
    console.error("Filter form not found.");
    return;
  }

  // Set default values for filter fields or clear the fields as needed
  document.getElementById("filterrific_with_department_id_advanced").value = '';
  document.getElementById("filterrific_sub_directory_id_advanced").value = 0;

  // Trigger a click event on the submit button to submit the form
  filterForm.submit();
}
</script>
<%= render 'faculties/footer' %>