<%= stylesheet_link_tag 'index' %>

<div class="main-container">
  <div class="nitk-header">
    <div class="container">
      <header class="d-flex justify-content-center py-3">
        <li class="nav-item"><a href="https://www.nitk.ac.in/" class="nav-link active" aria-current="page"><%= image_tag 'header.png' %></a></li>
      </header>
    </div>
  </div>
  <header class="d-flex justify-content-center py-3">
    <div class="telephone-header">
      TELEPHONE DIRECTORY
    </div>
  </header>

  <div class="contents">
    <div class="contents-list">
      <% sorted_units = Unit.all.order(:title) %>
      <% sorted_units.each do |unit| %>
        <div class="accordion">
          <label class="accordion-label" tabindex="0"><%= unit.title %></label>
          <div class="accordion-content">
            <% sorted_departments = unit.departments.where.not(name: "Others").order(:name) %>
            <% sorted_departments.each do |department| %>
            <% if unit.is_sub_directory? %>
              <p class="department-with-subdirectory" data-unit="<%= unit.id %>" data-department="<%= department.id %>">
                  <div class="department-with-subdirectory">
                    <% subdirectories = SubDirectory.order(:title) %>
                     <%= department.name %>
                    <div class="subdirectory-dropdown dropdown-options" style="display: none;">
                      <% subdirectories.each do |subdirectory| %>
                        <div class="dropdown-option" data-subdirectory="<%= subdirectory.id %>"  data-unit="<%= unit.id %>" data-department="<%= department.id %>">
                        <p><%= subdirectory.title %></p>
                        </div>
                      <% end %>
                    </div>
                  </div>
              </p>
            <% else %>
              <p class="dropdown-option"  data-subdirectory="0" data-unit="<%= unit.id %>" data-department="<%= department.id %>"><%= department.name %></p>
            <% end %>
          <% end %>

            <% others_department = unit.departments.find_by(name: "Others") %>
            <% if others_department.present? %>
              <p class="dropdown-option" data-unit="<%= unit.id %>" data-department="<%= others_department.id %>"><%= others_department.name %></p>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
    <div class="search-area">
      <div class="search-header">
        <div class="p-4 rounded text-body-emphasis" style="width:100%;background-color:#192f59;">
          <p class="lead mb-0" style="color:white;"><a href="#" class="text-body-emphasis fw-bold"><%= render 'filter_form' %></a></p>
        </div>
      </div>
      <div class="search-data">
        <%= render 'faculty_list', faculties: @faculties %>
      </div>
    </div>
  </div>
</div>
<%= render 'faculties/footer' %>
<script>
  document.addEventListener("DOMContentLoaded", function() {
    const accordions = document.querySelectorAll('.accordion');

    accordions.forEach(accordion => {
      const label = accordion.querySelector('.accordion-label');

      label.addEventListener('click', function() {
        accordion.classList.toggle('open');
      });
    });

    const departmentContainers = document.querySelectorAll('.department-with-subdirectory');

    departmentContainers.forEach(container => {
      container.addEventListener('click', function() {
        const dropdown = container.querySelector('.subdirectory-dropdown');
        dropdown.style.display = dropdown.style.display === 'none' ? 'block' : 'none';
      });
    });
  });

    function updateFilterAndHandleClick(unitId, departmentId) {
      // Update the filter form with the selected unit and department
      const filterForm = document.getElementById("filterrific_filter");

      if (!filterForm) {
        console.error('Filter form not found.');
        return;
      }

      document.getElementById("filterrific_with_department_id_advanced").value = departmentId;
      console.log('Department ID', document.getElementById("filterrific_with_department_id_advanced").value);

      // Optionally, perform other actions based on the selected unit and department
      // For example, you can show/hide content, make AJAX requests, etc.

      // Trigger a click event on the submit button to submit the form
      filterForm.submit();
    }

    document.addEventListener("DOMContentLoaded", function() {
      const departmentFilters = document.querySelectorAll(".dropdown-option");

      departmentFilters.forEach(filter => {
        filter.addEventListener("click", function() {
          const unitId = this.dataset.unit;
          const departmentId = this.dataset.department
          const subDirectoryId = this.dataset.subdirectory
          console.log('Sub-directory ID',  subDirectoryId);
          if (subDirectoryId == 0) {
              updateFilterAndHandleClick(unitId, departmentId);
          }

          // Call a function to update the filter and perform actions based on the selected unit and department
          updateFilterAndHandleClick1(unitId, departmentId, subDirectoryId);
        });
      });

      function updateFilterAndHandleClick1(unitId, departmentId, subDirectoryId) {
        // Update the filter form with the selected unit and department
        const filterForm = document.getElementById("filterrific_filter");

        if (!filterForm) {
          console.error('Filter form not found.');
          return;
        }

        document.getElementById("filterrific_with_department_id_advanced").value = departmentId;
        document.getElementById("filterrific_sub_directory_id_advanced").value = subDirectoryId;
        console.log('Department ID', document.getElementById("filterrific_with_department_id_advanced").value);

        // Optionally, perform other actions based on the selected unit and department
        // For example, you can show/hide content, make AJAX requests, etc.

        // Trigger a click event on the submit button to submit the form
        filterForm.submit();
      }
  });



</script>
