
  
<style>

    .team .member {
    position: relative;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    padding: 30px;
    border-radius: 5px;
    background: #87addb14;
    }

    
    
    .team .member .teampic {
    overflow: hidden;
    width: 180px;
    border-radius: 10%;
    }
    
    
    a {
        display: block;
        width: 100%;
       padding-top: 20px;
    }
    
    .team .member .member-info {
    padding-left: 30px;
    }
    
    .team .member h4 {
    font-weight: 700;
    margin-bottom: 5px;
    font-size: 20px;
    color:#16622f;
    }
    
    .team .member span {
    display: block;
    font-size: 15px;
    padding-bottom: 10px;
    position: relative;
    font-weight: 500;
    }
    
    .team .member span::after {
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 2px;
    background:#192f59;
    bottom: 0;
    left: 0;
    }
    
    .team .member p {
    margin: 10px 0 0 0;
    font-size: 14px;
    }
    
    .team .member .social {
    margin-top: 12px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    }
    
    .team .member .social a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    background: #eff2f8;
    }
    
    .team .member a i {
    color: #156144;
    font-size: 16px;
    margin: 0 2px;
    }

    
    
    .team .member .social a:hover {
    background: #3db166;
    }
    
    .team .member .social a:hover i {
    color: #fff;
    }
    
    .team .member .social a+a {
    margin-left: 8px;
    }
    
    section {
    padding: 60px 0;
    overflow: hidden;
    }

    .section-title {
    text-align: center;
    padding-bottom: 30px;
    color:#1c3d76
    }
    .page-title {
        text-align: center;
        padding-bottom: 30px;
        }
    
    
     .underline{
        width: 150px;
        height: 1.5px;
        background-color: black;
        margin: auto;
        margin-top: 30px;
    }
    
    
   .btn-round {
  position: fixed;
  bottom: 20px;
  right: 20px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  font-weight: bold;
}

@media (max-width: 767px) {
  /* Adjust for smaller screens if needed */
  .btn-round {
    bottom: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    line-height: 30px;
  }
}

    
    </style>

<head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <title>Team Section</title>
    <link href="./css/style.css" rel="stylesheet">
 
  </head>
 
  <body>

<!--NITK HEADER-->
    <div class="main-container">
  <div class="nitk-header">
    <div class="container">
      <header class="d-flex justify-content-center py-3">
        <li class="nav-item"><a href="https://www.nitk.ac.in/" class="nav-link active" aria-current="page"><%= image_tag('header.png') %></a></li>
      </header>
    </div>
  </div>



     <section id="team" class="team section-bg">
        <div class="container">
<!--Page title-->
          <div class="page-title">
            <h2>Our Team</h2>
            <div class="underline"></div>
            
          </div>


          <section class="py-5 text-center container">
      <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
          <h1 class="fw-light">TELEPHONE DIRECTORY TEAM</h1>
          <p class="lead text-body-secondary">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p>
          <p>
            <a href="#web-team" class="btn btn-primary my-2 active">Web Team</a>
            <a href="#app-team" class="btn btn-success my-2">App Team</a>
          </p>
        </div>
      </div>
    </section>

    <!--Section title for FACULTY ADVISOR-->
          <div class="section-title">
            <h3>Faculty Advisor</h3>
          
          <div class="underline"></div>
          </div>
          
          <div class="row">
            
            <div class="col-lg-6 mt-4">
                <div class="member d-flex align-items-start">
                    <%= image_tag('mr-br-chandravarkar.jpg', class: 'teampic img-fluid', alt: 'faculty advisor') %>
                    <div class="member-info">
                        <h4>Dr. B R Chandavarkar</h4>
                        <span>Associate Professor</span> <!-- Corrected spelling here -->
                        <span>Dept. of CSE</span>
                        <div class="social align-items-center"> <!-- Add align-items-center class here -->
                            <a href=""><i class="bi bi-github"></i></a>
                            <a href=""><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div>
<!--Section title for Staff-->
          <div class="section-title">
            <h3>Staff</h3>
          
          <div class="underline2"></div>
          </div>
          
          <div class="row">
            
            <div class="col-lg-6 mt-4">
                <div class="member d-flex align-items-start">
                    <%= image_tag('mr-br-chandravarkar.jpg', class: 'teampic img-fluid', alt: 'staff') %>
                    <div class="member-info">
                        <h4>Dr. B R Chandavarkar</h4>
                        <span>Associate Professor</span> <!-- Corrected spelling here -->
                        <span>Dept. of CSE</span>
                        <div class="social align-items-center"> <!-- Add align-items-center class here -->
                            <a href=""><i class="bi bi-github"></i></a>
                            <a href=""><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div>

<!--Section title for PROJECT LEAD-->
<div class="section-title mt-5">
    <h3>Project Lead </h3>
  
  <div class="underline"></div>
  </div>
  
  <div class="row">
    
    <div class="col-lg-6 mt-4">
        <div class="member d-flex align-items-start">
            <%= image_tag('Anish.jpg', class: 'teampic img-fluid', alt: 'Project Lead') %>
            <div class="member-info">
                <h4>Anish Kumbhar</h4>
                <span>B.Tech, 2025</span> <!-- Corrected spelling here -->
                <span>Dept. of CSE</span>
                <div class="social align-items-center"> <!-- Add align-items-center class here -->
                    <a href=""><i class="bi bi-github"></i></a>
                    <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
            </div>
        </div>
    </div>
  </div>

<!--Section title for WEB TEAM-->
            <div class="section-title mt-5" >
                <h3>Web Development Team</h3>
                <div class="underline"></div>
            </div>

           

            <div class="col-lg-6 mt-4">
                <div class="member d-flex align-items-start">
                    <%= image_tag('Megha_final.jpg', id:"web-team", class: 'teampic img-fluid', alt: 'Web Team Image 1') %>
                    <div class="member-info">
                        <h4>Megha Arya</h4>
                        <span>B.Tech, 2026 </span> 
                        <span>Dept. of CSE</span>
                        <div class="social align-items-center"> <!-- Add align-items-center class here -->
                            <a href=""><i class="bi bi-github"></i></a>
                            <a href=""><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div>

          
            <div class="col-lg-6 mt-4">
                <div class="member d-flex align-items-start">
                    <%= image_tag('Poorva_final.jpg', class: 'teampic img-fluid', alt: 'Web Team Image 2') %>
                    <div class="member-info">
                        <h4>Bhagwat Poorva Milind </h4>
                        <span>B.Tech, 2026</span> <!-- Corrected spelling here -->
                        <span>Dept. of CSE</span>
                        <div class="social align-items-center"> <!-- Add align-items-center class here -->
                            <a href=""><i class="bi bi-github"></i></a>
                            <a href=""><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 mt-4">
                <div class="member d-flex align-items-start">
                    <%= image_tag('Reema_final.jpg', class: 'teampic img-fluid', alt: 'Web Team Image 3') %>
                    <div class="member-info">
                        <h4>Reema Murthy</h4>
                        <span>B.Tech, 2026</span> <!-- Corrected spelling here -->
                        <span>Dept. of CSE</span>
                        <div class="social align-items-center"> <!-- Add align-items-center class here -->
                            <a href=""><i class="bi bi-github"></i></a>
                            <a href=""><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            
          </div>
          
<!-- End of web team Section -->
<!--Section title for APP TEAM-->     
        <div class="container">
      <div class="section-title mt-5">
        <h3>Application Development Team</h3>
        <div class="underline"></div>
      </div>


      <div class="row">
       

      <div class="col-lg-6 mt-4">
        <div class="member d-flex align-items-start">
            <%= image_tag('Ansh.jpg', id:"app-team", class: 'teampic img-fluid', alt: 'App Team Image 1') %>
            <div class="member-info">
                <h4>Ansh Malhotra</h4>
                <span>B.Tech, 2026</span> 
                <span>Dept. of CSE</span>
                <div class="social align-items-center"> 
                    <a href=""><i class="bi bi-github"></i></a>
                    <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
            </div>
        </div>
    </div>
      
    
    <div class="col-lg-6 mt-4">
        <div class="member d-flex align-items-start">
            <%= image_tag('Chirag.jpg', class: 'teampic img-fluid', alt: 'App Team Image 2') %>
            <div class="member-info">
                <h4>Chirag S</h4>
                <span>B.Tech, 2026</span> 
                <span>Dept. of CSE</span>
                <div class="social align-items-center"> 
                    <a href=""><i class="bi bi-github"></i></a>
                    <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
            </div>
        </div>
    </div>
    
    <div class="col-lg-6 mt-4">
        <div class="member d-flex align-items-start">
            <%= image_tag('Rishabh.jpg', class: 'teampic img-fluid', alt: 'App Team Image 3') %>
            <div class="member-info">
                <h4>Rishabh Mahor</h4>
                <span>B.Tech, 2026</span> 
                <span>Dept. of CSE</span>
                <div class="social">
                    <a href="" class="text-decoration-none"><i class="bi bi-github"></i></a>
                    <a href="" class="text-decoration-none"><i class="bi bi-linkedin"></i></a>
                </div>
            </div>
        </div>
    </div>
    
              
            </section>
        </div>
    </div>

  <!--end of app team section--> 
  <a href="#Top" class="btn btn-primary btn-sm btn-corner btn-round">&#8593</a>
  <%# <a href="#Top" id="scroll-to-top" title="Scroll to Top">&#8593;</a> %>


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
  </script>

    
  </body>



