<%= stylesheet_link_tag 'index' %>
<%= stylesheet_link_tag 'team' %>
<div class="main-container">
  <div class="nitk-header">
    <div class="container">
      <header class="d-flex justify-content-center py-3">
        <li class="nav-item"><a href="https://www.nitk.ac.in/" class="nav-link active" aria-current="page"><%= image_tag('header.png') %></a></li>
      </header>
    </div>
  </div>

  <main>
    <section class="py-5 text-center container">
      <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
          <h1 class="fw-light">TELEPHONE DIRECTORY TEAM</h1>
          <p class="lead text-body-secondary">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p>
          <p>
            <a href="#web-team" class="btn btn-primary my-2 web-team" >Web Team</a>
            <a href="#app-team" class="btn btn-success my-2">App Team</a>
          </p>
        </div>
      </div>
    </section>
    
          <div class="col">
            <div class="card shadow-sm">
              <%= image_tag('mr-br-chandravarkar.jpg' , class: 'card-img-top img-fluid', alt: 'Professor Image') %>
              <div class="card-body">
                <p class="card-text">Dr.B.R.Chandravarkar</p>
                <p class="card-text">Department: CSE</p>
                <p class="card-text"> Associate Professor </p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">GitHub</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">LinkedIn</button>
                    </div>
                  <small class="text-body-secondary">Facutly Incharge</small>
                </div>
              </div>
            </div>
          </div>

<div class="album py-5 bg-body-tertiary">
      <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
          <div class="col">
            <div class="card shadow-sm">
              <%= image_tag('Dir_Passport_size_photo.jpg' , class: 'card-img-top img-fluid', alt: 'Director Image') %>
              <div class="card-body">
              <p class="card-text">Faculty Staff</p>
              <p class="card-text">Faculty Staff</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">GitHub</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">LinkedIn</button>
                 </div>
                  <small class="text-body-secondary">Faculty staff</small>
                </div>
              </div>
            </div>
          </div>

          <div class="col">
            <div class="card shadow-sm">
              <%= image_tag('Anish.jpg' , class: 'card-img-top img-fluid', alt: 'Mentor Image') %>
                        <div class="card-body">
                          <p class="card-text">Anish Kumbhar</p>
                          <p class="card-text">Department: CSE</p>
                          <p class="card-text"> B.Tech, 2025 </p>
                          <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary">GitHub</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">LinkedIn</button>
                              </div>
                            <small class="text-body-secondary">Project Lead</small>
                          </div>
                        </div>
            </div>
          </div>

          <!-- Replace 'web_team_image_1.jpg', 'web_team_image_2.jpg', 'web_team_image_3.jpg' with actual image paths for the web team -->
          <div class="col">
            <div class="card shadow-sm">
              <%= image_tag('Megha_final.jpg' , class: 'card-img-top img-fluid', alt: 'Web Team Image 3') %>
              
              <div class="card-body">
                <p class="card-text">Megha Arya</p>
                <p class="card-text">Department: CSE</p>
                          <p class="card-text"> B.Tech, 2026 </p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">GitHub</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">LinkedIn</button>
                  </div>
                  <small class="text-body-secondary">Web Team</small>
                </div>
              </div>
            </div>
          </div>

          <div class="col" id="web-team">
            <div class="card shadow-sm">
              <%= image_tag('Poorva_final.jpg' , class: 'card-img-top img-fluid', alt: 'Web Team Image 1') %>
              <div class="card-body">
                <p class="card-text">Bhagwat Poorva Milind</p>
                          <p class="card-text">Department: CSE</p>
                          <p class="card-text"> B.Tech, 2026 </p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">GitHub</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">LinkedIn</button>
                  </div>
                  <small class="text-body-secondary">Web Team</small>
                </div>
              </div>
            </div>
          </div>

          <div class="col">
            <div class="card shadow-sm">
              <%= image_tag('Reema_final.jpg', class: 'card-img-top img-fluid', alt: 'Web Team Image 2') %>
              <div class="card-body">
                <p class="card-text">Reema Murthy</p>
                <p class="card-text">Department: CSE</p>
                          <p class="card-text"> B.Tech, 2026 </p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">GitHub</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">LinkedIn</button>
                  </div>
                  <small class="text-body-secondary">Web Team</small>
                </div>
              </div>
            </div>
          </div>

          <!-- Replace 'app_team_image_1.jpg', 'app_team_image_2.jpg', 'app_team_image_3.jpg' with actual image paths for the app team -->
          <div class="col" id="app-team">
            <div class="card shadow-sm">
              <%= image_tag('Ansh.jpg' , class: 'card-img-top img-fluid', alt: 'App Team Image 1') %>
              <div class="card-body">
                <p class="card-text">Ansh Vivek Malhotra</p>
                <p class="card-text">Department: CSE</p>
                          <p class="card-text"> B.Tech, 2026 </p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">GitHub</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">LinkedIn</button>
                  </div>
                  <small class="text-body-secondary">App Team</small>
                </div>
              </div>
            </div>
          </div>

          <div class="col">
            <div class="card shadow-sm">
              <%= image_tag('Chirag.jpg' , class: 'card-img-top img-fluid', alt: 'App Team Image 2') %>
              <div class="card-body">
                <p class="card-text">Chirag S</p>
                <p class="card-text">Department: CSE</p>
                          <p class="card-text"> B.Tech, 2026 </p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">GitHub</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">LinkedIn</button>
                  </div>
                  <small class="text-body-secondary">App Team</small>
                </div>
              </div>
            </div>
          </div>

          <div class="col">
            <div class="card shadow-sm">
              <%= image_tag('Rishabh.jpg' , class: 'card-img-top img-fluid', alt: 'App Team Image 3') %>
              <div class="card-body">
                <p class="card-text">Rishabh Mahor</p>
                <p class="card-text">Department: CSE</p>
                          <p class="card-text"> B.Tech, 2026 </p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">GitHub</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">LinkedIn</button>
                  </div>
                  <small class="text-body-secondary">App Team</small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </main>

  <%= render 'faculties/footer' %>


</div>

