<style>
    .team .member {
    position: relative;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    padding: 30px;
    border-radius: 5px;
    background: #87addb14;
    }



    .team .member .teampic {
    overflow: hidden;
    width: 180px;
    border-radius: 10%;
    }


    a {
        display: block;
        width: 100%;
       padding-top: 20px;
    }

    .team .member .member-info {
    padding-left: 30px;
    }

    .team .member h4 {
    font-weight: 700;
    margin-bottom: 5px;
    font-size: 20px;
    color:#16622f;
    }

    .team .member span {
    display: block;
    font-size: 15px;
    padding-bottom: 10px;
    position: relative;
    font-weight: 500;
    }

    .team .member span::after {
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 2px;
    background:#192f59;
    bottom: 0;
    left: 0;
    }

    .team .member p {
    margin: 10px 0 0 0;
    font-size: 14px;
    }

    .team .member .social {
    margin-top: 12px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    }

    .team .member .social a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    background: #eff2f8;
    }

    .team .member a i {
    color: #156144;
    font-size: 16px;
    margin: 0 2px;
    }



    .team .member .social a:hover {
    background: #3db166;
    }

    .team .member .social a:hover i {
    color: #fff;
    }

    .team .member .social a+a {
    margin-left: 8px;
    }

    section {
    padding: 60px 0;
    overflow: hidden;
    }

    .section-title {
    text-align: center;
    padding-bottom: 30px;
    color:#1c3d76
    }
    .page-title {
        text-align: center;
        padding-bottom: 30px;
        }


     .underline{
        width: 150px;
        height: 1.5px;
        background-color: black;
        margin: auto;
        margin-top: 30px;
    }


   .btn-round {
  position: fixed;
  bottom: 70px;
  right: 20px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  font-weight: bold;
}

@media (max-width: 767px) {
  /* Adjust for smaller screens if needed */
  .btn-round {
    bottom: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    line-height: 30px;
  }
}
</style>

    <div class="main-container">
      <div class="nitk-header">
        <div class="container">
          <header class="d-flex justify-content-center py-3">
            <li class="nav-item">
              <a href="https://www.nitk.ac.in/" class="nav-link active" aria-current="page">
                <%= image_tag('header.png') %>
              </a>
            </li>
          </header>
        </div>
      </div>

      <section id="team" class="team section-bg">
        <div class="container">
          <div class="page-title text-center">
            <h2>Our Team</h2>
            <div class="underline"></div>
          </div>

          <div class="section-title">
            <h3>Director</h3>
            <div class="underline"></div>
          </div>

          <div class="row">
            <div class="col-lg-6 mx-auto mt-4">
              <div class="member d-flex align-items-start">
                <%= image_tag('Director.jpg', class: 'teampic img-fluid', alt: 'faculty advisor' , style: "border-radius:0px;") %>
                <div class="member-info">
                  <h4>Prof. B Ravi </h4>
                  <span>Director NITK</span>
                  <div class="social align-items-center">
                    <a href=""><i class="bi bi-github"></i></a>
                    <a href=""><i class="bi bi-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
          <br>

          <!-- Faculty Advisor -->
          <div class="section-title mt-5">
            <h3>Professor In-charge</h3>
            <div class="underline"></div>
          </div>

          <div class="row">
            <div class="col-lg-6 mx-auto mt-4">
              <div class="member d-flex align-items-start">
                <%= image_tag('DrBRC.jpeg', class: 'teampic img-fluid', alt: 'faculty advisor') %>
                <div class="member-info">
                  <h4>Dr. B R Chandavarkar</h4>
                  <span>Associate Professor</span>
                  <span>Dept. of CSE</span>
                  <div class="social align-items-center">
                    <a href=""><i class="bi bi-github"></i></a>
                    <a href=""><i class="bi bi-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
          <br>
            <!-- Staff -->
            <div class="section-title mt-5">
              <h3>Staff</h3>
              <div class="underline"></div>
            </div>

            <div class="col-lg-6 mx-auto mt-4">
              <div class="member d-flex align-items-start">
                <%= image_tag('dummy.webp', class: 'teampic img-fluid', alt: 'staff') %>
                <div class="member-info">
                  <h4>Mr. Santosh</h4>
                  <span>Technical Staff</span>
                  <span>Dept. of CSE</span>
                  <div class="social align-items-center">
                    <a href=""><i class="bi bi-github"></i></a>
                    <a href=""><i class="bi bi-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>

            <!-- Project Lead -->
            <div class="section-title mt-5">
              <h3>Project Lead</h3>
              <div class="underline"></div>
            </div>

            <div class="col-lg-6 mx-auto mt-4">
              <div class="member d-flex align-items-start">
                <%= image_tag('Anish.jpg', class: 'teampic img-fluid', alt: 'Project Lead') %>
                <div class="member-info">
                  <h4>Anish Kumbhar</h4>
                  <span>B.Tech, 2025</span>
                  <span>Dept. of CSE</span>
                  <div class="social align-items-center">
                    <a href=""><i class="bi bi-github"></i></a>
                    <a href=""><i class="bi bi-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>

            <!-- Web Development Team -->
            <div class="section-title mt-5">
              <h3>Web Development Team</h3>
              <div class="underline"></div>
            </div>

            <div class="col-lg-6 mt-4">
              <div class="member d-flex align-items-start">
                <%= image_tag('Megha_final.jpg', id:"web-team", class: 'teampic img-fluid', alt: 'Web Team Image 1') %>
                <div class="member-info">
                  <h4>Megha Arya</h4>
                  <span>B.Tech, 2026</span>
                  <span>Dept. of CSE</span>
                  <div class="social align-items-center">
                    <a href=""><i class="bi bi-github"></i></a>
                    <a href=""><i class="bi bi-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-6 mt-4">
              <div class="member d-flex align-items-start">
                <%= image_tag('Poorva_final.jpg', class: 'teampic img-fluid', alt: 'Web Team Image 2') %>
                <div class="member-info">
                  <h4>Bhagwat Poorva Milind</h4>
                  <span>B.Tech, 2026</span>
                  <span>Dept. of CSE</span>
                  <div class="social align-items-center">
                    <a href=""><i class="bi bi-github"></i></a>
                    <a href=""><i class="bi bi-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-6 mt-4">
              <div class="member d-flex align-items-start">
                <%= image_tag('Reema_final.jpg', class: 'teampic img-fluid', alt: 'Web Team Image 3') %>
                <div class="member-info">
                  <h4>Reema Murthy</h4>
                  <span>B.Tech, 2026</span>
                  <span>Dept. of CSE</span>
                  <div class="social align-items-center">
                    <a href=""><i class="bi bi-github"></i></a>
                    <a href=""><i class="bi bi-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>

          </div>

          <!-- Application Development Team -->
          <div class="section-title mt-5">
            <h3>Application Development Team</h3>
            <div class="underline"></div>
          </div>

          <div class="row">
            <div class="col-lg-6 mt-4">
              <div class="member d-flex align-items-start">
                <%= image_tag('Ansh.jpg', id:"app-team", class: 'teampic img-fluid', alt: 'App Team Image 1') %>
                <div class="member-info">
                  <h4>Ansh Malhotra</h4>
                  <span>B.Tech, 2026</span>
                  <span>Dept. of CSE</span>
                  <div class="social align-items-center">
                    <a href=""><i class="bi bi-github"></i></a>
                    <a href=""><i class="bi bi-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-6 mt-4">
              <div class="member d-flex align-items-start">
                <%= image_tag('Chirag.jpg', class: 'teampic img-fluid', alt: 'App Team Image 2') %>
                <div class="member-info">
                  <h4>Chirag S</h4>
                  <span>B.Tech, 2026</span>
                  <span>Dept. of CSE</span>
                  <div class="social align-items-center">
                    <a href=""><i class="bi bi-github"></i></a>
                    <a href=""><i class="bi bi-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-6 mt-4">
              <div class="member d-flex align-items-start">
                <%= image_tag('Rishabh.jpg', class: 'teampic img-fluid', alt: 'App Team Image 3') %>
                <div class="member-info">
                  <h4>Rishabh Mahor</h4>
                  <span>B.Tech, 2026</span>
                  <span>Dept. of CSE</span>
                  <div class="social">
                    <a href="" class="text-decoration-none"><i class="bi bi-github"></i></a>
                    <a href="" class="text-decoration-none"><i class="bi bi-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    table {
      width: 100%;
      border-collapse: collapse;
      margin-top: 20px;
    }

    th, td {
      border: 1px solid #ddd;
      padding: 8px;
      text-align: left;
    }

    th {
      background-color: #f2f2f2;
       color: navy;
    }
  </style>
</head>
<body>

  <table>
    <thead>
      <tr>
        <th>Unit</th>
        <th>Department/Center/Section</th>
        <th>Name of Faculty/Staff</th>
        <th>Email ID</th>
        <th>Mobile No.</th>
        <th>Login ID</th>
      </tr>
    </thead>
    <tbody>
      <!-- Add your data rows here -->
      <tr>
        <td>Administration</td>
        <td> Administration</td>
        <td> Mr. Prateek</td>
        <td>b1-assistant@nitk.edu.in</td>
        <td>8197338775</td>
        <td></td>
      </tr>
      <tr>
        
        <td>Academics</td>
        <td> Dept. of Chemical Engineering</td>
        <td> Mr. M. Rajasekkaran</td>
        <td>rajasekaran@nitk.edu.in</td>
        <td>9945676122</td>
        <td>hod_ch@nitk.edu.in</td>
      </tr>
      <tr>
        
        <td>Academics</td>
        <td> Dept. of Chemistry</td>
        <td> Mr. Pradeep Crasta</td>
        <td> pradeepcrasta@gmail.com</td>
        <td>8147327541</td>
        <td>hod_cy@nitk.edu.in</td>
      </tr>
      <tr>
        
        <td>Academics</td>
        <td> Dept. of Civil Engineering</td>
        <td> </td>
        <td> </td>
        <td></td>
        <td>hod_cv@nitk.edu.in</td>
      </tr>
      <tr>
       
        <td>Academics</td>
        <td> Dept. of Computer Science and Engineering</td>
        <td> Mr. Pradeep D.</td>
        <td>  pradeepd@nitk.edu.in</td>
        <td>9448327736</td>
        <td>hod_cse@nitk.edu.in</td>
      </tr>

        <tr>
        <td>Academics</td>
        <td> Dept. of  Electrical and Electronics Engineering</td>
        <td> Sunitha </td>
        <td>  programmereed@nitk.edu.in</td>
        <td> 9480081747</td>
        <td>hod_ee@nitk.edu.in</td>
      </tr>
      
      
      <tr>
        <td>Academics</td>
        <td> Dept. of  Electronics and Communication Engineering</td>
        <td>Shikha Baghel </td>
        <td> shikhabaghel@nitk.edu.in</td>
        <td> 9954244782</td>
        <td>hod_ece@nitk.edu.in</td>
      </tr>

        <tr>
        <td>Academics</td>
        <td> Dept. of Information Technology</td>
        <td> Dr. Sowmya Kamath</td>
        <td>sowmyakamath@nitk.edu.in </td>
        <td> 9738922205</td>
        <td>hod_it@nitk.edu.in</td>
      </tr>

      <tr>
        <td>Academics</td>
        <td> Dept. of  Mathematical and Computational Sciences</td>
        <td>Dr. Vidyadhan Upadhya </td>
        <td>vidyadhar.upadhya@nitk.edu.in </td>
        <td>7259238803</td>
        <td>hod_ma@nitk.edu.in</td>
      </tr>

      <tr>
        
        <td>Academics</td>
        <td> Dept. of  Mechanical Engineering</td>
        <td> Dr. Mervin Joe Thomas</td>
        <td> mervinthomas@nitk.edu.in</td>
        <td>9605014054</td>
        <td>hod_me@nitk.edu.in</td>
      </tr>

      <tr>
        
        <td>Academics</td>
        <td> Dept. of  Mechanical Engineering</td>
        <td>  Karunya G.</td>
        <td> karunya313@gmail.com </td>
        <td>9686952168</td>
        <td>hod_me@nitk.edu.in</td>
      </tr>

      <tr>
        
        <td>Academics</td>
        <td> Dept. of Metallurgical and Materials Engineering</td>
        <td> Dr. Lipak Kumar</td>
        <td>  lipak@nitk.edu.in </td>
        <td>8610886801</td>
        <td>hod_mt@nitk.edu.in</td>
      </tr>

      <tr>
        
        <td>Academics</td>
        <td> Dept. of  Mining  Engineering</td>
        <td> Shreyas</td>
        <td>  jainshreyas911@gmail.com </td>
        <td>9110866859</td>
        <td>hod_mi@nitk.edu.in</td>
      </tr>

      <tr>
        
        <td>Academics</td>
        <td> Dept. of Physics</td>
        <td> Anand Das</td>
        <td>  ananddastk@gmail.com </td>
        <td> 9497043585</td>
        <td>hod_py@nitk.edu.in</td>
      </tr>

      
      <tr>
        
        <td>Academics</td>
        <td> Dept. of Water Resources & Ocean Engg</td>
        <td> Sweekritha</td>
        <td>  sweekrithab@gmail.com  </td>
        <td> 8861907259</td>
        <td>hod_wo@nitk.edu.in</td>
      </tr>

      <tr>
        
        <td>Academics</td>
        <td> School of Humanities, Social Sciences, and </td>
        <td>  Dr. Savita Bhat</td>
        <td>   savitapbhat@nitk.edu.in </td>
        <td>  9176056079</td>
        <td>hod_sm@nitk.edu.in</td>
      </tr>

      <tr>
        
        <td>Research</td>
        <td> Central Research Facility </td>
        <td>   Nishanth Kumar</td>
        <td>   office.crf@nitk.edu.in </td>
        <td>  9632493401</td>
        <td>pic_crf@nitk.edu.in</td>
      </tr>

      <tr>
        
        <td>Research</td>
        <td> Central Research Facility </td>
        <td>  Kiran </td>
        <td>   kirankumar123639@gmail.com  </td>
        <td>  7259344896</td>
        <td></td>
      </tr>

      <tr>
        
        <td>Research</td>
        <td>   Centre for Sustainable Development</td>
        <td>    </td>
        <td>    </td>
        <td> </td>
        <td></td>
      </tr>

      <tr>
        
        <td>Research</td>
        <td> Centre for System Design </td>
        <td></td>
        <td>    </td>
        <td> </td>
        <td></td>
      </tr>

      <tr>
        
        <td>Research</td>
        <td>  Centre of Excellence in Smart Grid </td>
        <td></td>
        <td>    </td>
        <td> </td>
        <td></td>
      </tr>

      <tr>
        
        <td>Research</td>
        <td>   Industry Institute Partnership</td>
        <td></td>
        <td>    </td>
        <td> </td>
        <td></td>
      </tr>

      <tr>
        
        <td>Research</td>
        <td>   Industry Institute Partnership</td>
        <td></td>
        <td>    </td>
        <td> </td>
        <td></td>
      </tr>

      <tr>
        
        <td>Research</td>
        <td>Science & Technology Entrepreneurs' Park (STEP)  </td>
        <td></td>
        <td> hegdesr@nitk.edu.in   </td>
        <td> </td>
        <td>step@nitk.edu.in</td>
      </tr>

      <tr>
        
        <td>Facilities</td>
        <td>Career Development Centre [CDC]  </td>
        <td></td>
        <td> cdcentre@nitk.edu.in   </td>
        <td> </td>
        <td> cdc@nitk.edu.in</td>
      </tr>

      <tr>
        
        <td>Facilities</td>
        <td> Central Computer Centre  </td>
        <td></td>
        <td> chairmanccc@nitk.edu.in </td>
        <td> </td>
        <td>  pic_ccc@nitk.edu.in</td>
      </tr>

      <tr>
        
        <td>Facilities</td>
        <td>  Grievances </td>
        <td> Dr. Kumar G N</td>
        <td> gnkumar33@nitk.edu.in </td>
        <td>9481848572 </td>
        <td> </td>
      </tr>

      <tr>
        
        <td>Facilities</td>
        <td>  Guest House </td>
        <td> </td>
        <td> shyamfec@nitk.edu.in </td>
        <td></td>
        <td> gh@nitk.edu.in</td>
      </tr>

      <tr>
        
        <td>Facilities</td>
        <td>  Healthcare Centre </td>
        <td>Mrs. Ashwitha </td>
        <td> ashup24surath@gmail.com</td>
        <td>9880466739</td>
        <td> pic_hcc@nitk.edu.in</td>
      </tr>

      <tr>
        
        <td>Facilities</td>
        <td>  Library</td>
        <td>Dr. Mallikarjun A. </td>
        <td>  mallikarjun@nitk.edu.in</td>
        <td>9892907384</td>
        <td> library@nitk.edu.in</td>
      </tr>

      <tr>
        
        <td>Facilities</td>
        <td>  Resident Engineer</td>
        <td>Shamith </td>
        <td>  shamithsuvarna123@gmail.com</td>
        <td>7760555876</td>
        <td> re@nitk.edu.in</td>
      </tr>

      <tr>
        
        <td>Facilities</td>
        <td>   Security</td>
        <td> </td>
        <td>  security@nitk.edu.in</td>
        <td></td>
        <td> security@nitk.edu.in</td>
      </tr>

      <tr>
        
        <td> Student's Life</td>
        <td>Hostels</td>
        <td>Mr. Deviprasad </td>
        <td>  hosteloffice@nitk.edu.in</td>
        <td>6362729763</td>
        <td>hosteloffice@nitk.edu.in</td>
      </tr>

      <tr>
        
        <td> Student's Life</td>
        <td> Alumni and Corporate Relations</td>
        <td> </td>
        <td>  </td>
        <td></td>
        <td></td>
      </tr>

      <tr>
        
        <td> Student's Life</td>
        <td> NCC</td>
        <td> </td>
        <td> sam@nitk.edu.in </td>
        <td></td>
        <td>ncc@nitk.edu.in</td>
      </tr>

      <tr>
        
        <td> Student's Life</td>
        <td> Sports</td>
        <td>  dr.nath@nitk.edu.in</td>
        <td> sam@nitk.edu.in </td>
        <td></td>
        <td>adean_sports@nitk.edu.in</td>
      </tr>

      <tr>
        
        <td> Student's Life</td>
        <td> Students' Council</td>
        <td> </td>
        <td>  </td>
        <td></td>
        <td></td>
      </tr>

      <tr>
        
        <td> Student's Life</td>
        <td>National Service Scheme (NSS) </td>
        <td> </td>
        <td>  </td>
        <td></td>
        <td></td>
      </tr>

    </tbody>
  </table>

</body>
</html>

<%= render 'faculties/footer' %>

